 @model MovieRateMVC.Models.Movies.MovieDetailsModel

@{
	ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>

<p>@Model.Description</p>

<p>Genre@(Model.Genres.Count == 1 ? "" : "s"):
	@string.Join(", ", Model.Genres)
</p>

@if (Model.ReleaseDate != null)
{
	<p>Release date: @Model.ReleaseDate</p>
}

@if (Model.Director != null)
{
	<p>Director: @Model.Director</p>
}

<div>
	<p>Rate the movie:</p>
	<form asp-controller="Movies" asp-action="Rate" asp-route-id="@Model.Id" method="post">
		@for (int i=1; i<=5; i++)
		{
			<input type="radio" name="rate" value="@i" id="rate@(i)" class="form-check-input" 
				@(Model.UserRating == i ? "checked" : "")/>
			<label for='rate@(i)' class="form-check-label">@i</label>
		}
		<br />
		<input type="submit" value="Save" class="btn btn-primary mt-3" />
	</form>
</div>